#div1 {
	background-color: gray;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#div1in1 {
	background-color: lightblue;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#div2in1 {
	width: 500px;
	height: 500px;
	background-color: lightcoral;
	z-index: 1;
}
